body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

/* 3. Style the button according to the provide design:;
text color: #016f32
*/
button {
    color: #016f32;
    font-weight: bolder;
    background-color: goldenrod;
    width: 150px;
    padding: 5px 25px;
    margin: 5px;
    border: none;
    border-radius: 2px;
}

#message-el {
    font-style: italic;

}